/* Input modal */
.card-input-modal {
  position: relative;
  margin-top: 30px;
}
.modal-input {
  display: none;
  outline: none;
  padding: 13px 8px;
  border: 2px solid #dddddd;
  font-size: 16px;
  border-radius: 4px;
}
.modal-input-active {
  display: block;
}

.card-input-modal .modal-input:valid + .label-modal {
  top: -10px;
  padding: 0 3px;
  color: #6e6c6c;
  left: 10px;
}
.card-input-modal .modal-input:focus {
  border: 2px solid royalblue;
}
.card-input-modal .modal-input:focus + .label-modal {
  top: -10px;
  padding: 0 3px;
  color: royalblue;
  left: 10px;
}

.card-input-modal .label-modal {
  transition: 0.1s;
  color: #b1aeae;
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ffffff;
}
.label-modal h4 {
  margin: 0;
  font-weight: normal;
}
/* Input modal */
