/* CSS untuk mobile responsive */
/*  */
/*  */
@media screen and (max-width: 1120px) {
  /* Large */
  .lg-none {
    display: none;
  }
  .card-drawer {
    display: none;
  }
  .card-content-app {
    margin: 0 auto;
  }
}

@media screen and (max-width: 930px) {
  /* Medium */
  .md-none {
    display: none;
  }
}
@media screen and (max-width: 510px) {
  /* Small */
  .sm-none {
    display: none;
  }
}
